/* font-size:14,18,19,32 */

body,
table,
div,
span {
    font-family: "Microsoft Yahei", arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#header .container,
#content .container,
#footer {
    width: 1200px;
    min-width: 1140px;
    width: 1200px;
}


/* footer  */

.app-footer {
    display: block;
}

#footer-hr {
    color: #0069ad;
    background-color: #0069ad;
    height: 2px;
    /*width: 2px;*/    
}

#footer {
    margin: 0 auto;
    height: 92px;
    text-align: center;
    color: #0069ad;
    font-size: 16px;
}


/* header  */

.app-header,
.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.banner {
    height: 71px;
    background-color: #0069ad;
}

.container {
    /*background-color: #919900;*/
    height: 71px;
}

#logo {
    /*margin-top: 8px;*/
    width: 138px;
    height: 54px;
    background: url('../img/sprite.png') -33px -115px;
    border-size: 0;
}

.header-title {
    /*display: inline-block;*/
    line-height: 71px;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 3px;
    margin-left: 10px;
}

#user-info {
    /*background-color: #ff5f34;*/
    width: 105px;
    height: 40px;
    /*vertical-align: middle;*/
    margin-top: 15px;
}

#user-photo {
    height: 40px;
    width: 40px;
    display: inline-block;
}

#user-title {
    width: 65px;
    height: 40px;
}

#user-name {
    /*text-align: center;*/
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}

#user-btn {
    padding: 0;
    bottom: 0;
    text-align: right;
}

#user-title button {
    width: 60px;
    height: 18px;
    font-size: 8px;
}

.slider-img img {
    width: 100%;
    height: 260px;
    background-position: center top;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    zoom: 1;
    display: block;
}


/*  主体内容区  */

.app-content .container {
    /*clear: both;*/
    position: relative;
    display: block;
    height: 1030px;
    /*background-color: #d2F291;*/
}

.search-filter {
    margin: 29px 0px 38px 0px;
    height: 45px;
}

.search-filter button,
.search-filter input {
    height: 45px;
    font-size: 16px;
}

.search-filter button.btn-sort {
    width: 122px;
    margin-right: 0;
    margin-left: 0;
}

.search-filter button.btn-search {
    width: 130px;
    background-color: #0172ff;
    color: #ffffff;
    /*font-size: 16px;*/
}

.dividing-line {
    display: inline-block;
    margin: 0 27px;
    font-size: 20px;
    /*line-height: 40px;*/
    color: #0172ff;
    /*color: #0172ff;*/
    vertical-align: middle;
}


/* 项目列表展示 ---------------------------- */

.two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 570;
    -moz-column-width: 570;
    column-width: 570;
    /*-webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 20px;*/
    -moz-column-fill: auto;
    /*padding: 3px;*/
    /*background-color: #0088cc;*/
    height: 900px;
}


/*@media (min-width: 520px) {
    .two-columns {
        height: 900px;
    }
}*/


/*标题头*/

.catagory-item {
    width: 520px;
    /*height: 400px;*/
    /*background-color: #aaccff;*/
    margin-bottom: 20px;
}

.catagory-title {
    margin: 0 auto;
    width: 146px;
    position: relative;
    margin-bottom: 9px;
}

.catagory-title > img {
    width: 146px;
    height: 37px;
    border-size: 0;
    background: url('../img/sprite.png') -33px -172px;
}

.catagory-title > img.catagory-red {
    background: url('../img/sprite.png') -325px -115px;
}

.catagory-title > img.catagory-brown {
    background: url('../img/sprite.png') -179px -115px;
}

.catagory-title > img.catagory-blue-light {
    background: url('../img/sprite.png') -179px -152px;
}

.catagory-title > img.catagory-blue {
    background: url('../img/sprite.png') -325px -152px;
}

.catagory-title > img.catagory-cyan {
    background: url('../img/sprite.png') -179px -189px;
}

.catagory-title > img.catagory-green {
    background: url('../img/sprite.png') -325px -189px;
}

.catagory-title > span {
    position: absolute;
    line-height: 37px;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    font-weight: 800;
}


/*项目信息-----------------*/

.project-item {
    width: 500px;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    margin-bottom: 3px;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #aa6b0a, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #aa6b0a, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #aa6b0a, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #aa6b0a, #ffffff);
    /* Standard syntax (must be last) */
}

.project-item > img {
    width: 33px;
    height: 36px;
    background: url('../img/sprite.png') 0 0px;
    margin-top: -4px;
}

.project-item .project-name {
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 5px;
}

.project-item .project-date {
    color: #aa6b0a;
    margin-right: 18px;
}

.project-item .project-come {
    height: 36px;
    width: 44px;
    background-color: #aa6b0a;
    text-align: center;
}

.project-item .project-come > img {
    height: 36px;
    width: 44px;
    background: url('../img/sprite.png') 0px -216px;
    margin-top: -3px;
}


/* 样式1 棕色 */

.catagory-item .prj-style-1 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #aa6b0a, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #aa6b0a, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #aa6b0a, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #aa6b0a, #ffffff);
    /* Standard syntax (must be last) */
}

.catagory-item .prj-style-1 > img {
    background: url('../img/sprite.png') 0 0px;
}

.catagory-item .prj-style-1 .project-name {
    color: #ffffff;
}

.catagory-item .prj-style-1 .project-date {
    color: #aa6b0a;
}

.catagory-item .prj-style-1 .project-come {
    background-color: #aa6b0a;
}


/* 样式2  红色*/

.catagory-item .prj-style-2 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #aa2100, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #aa2100, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #aa2100, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #aa2100, #ffffff);
    /* Standard syntax (must be last) */
}

.catagory-item .prj-style-2 > img {
    /*height: 32> px;*/
    background: url('../img/sprite.png') 0 -72px;
}

.catagory-item .prj-style-2 .project-name {
    color: #ffffff;
}

.catagory-item .prj-style-2 .project-date {
    color: #aa2100;
}

.catagory-item .prj-style-2 .project-come {
    background-color: #aa2100;
}


/* 样式3 浅蓝 */

.catagory-item .prj-style-3 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0068ad, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0068ad, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0068ad, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0068ad, #ffffff);
    /* Standard syntax (must be last) */
}

.catagory-item .prj-style-3 > img {
    background: url('../img/sprite.png') 0 -108px;
}

.catagory-item .prj-style-3 .project-name {
    color: #ffffff;
}

.catagory-item .prj-style-3 .project-date {
    color: #0068ad;
}

.catagory-item .prj-style-3 .project-come {
    background-color: #0068ad;
}

/* 样式4 深蓝 */

.catagory-item .prj-style-4 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #0050ad, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #0050ad, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #0050ad, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #0050ad, #ffffff);
    /* Standard syntax (must be last) */
}

.catagory-item .prj-style-4 > img {
    background: url('../img/sprite.png') 0 -144px;
}

.catagory-item .prj-style-4 .project-name {
    color: #ffffff;
}

.catagory-item .prj-style-4 .project-date {
    color: #0050ad;
}

.catagory-item .prj-style-4 .project-come {
    background-color: #0050ad;
}


/* 样式5 青色 */

.catagory-item .prj-style-5 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #01ba9b, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #01ba9b, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #01ba9b, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #01ba9b, #ffffff);
    /* Standard syntax (must be last) */
}

.catagory-item .prj-style-5 > img {
    background: url('../img/sprite.png') 0 -36px;
}

.catagory-item .prj-style-5 .project-name {
    color: #ffffff;
}

.catagory-item .prj-style-5 .project-date {
    color: #01ba9b;
}

.catagory-item .prj-style-5 .project-come {
    background-color: #01ba9b;
}


/* 样式6 绿色 */

.catagory-item .prj-style-6 {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #49ab00, #ffffff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #49ab00, #ffffff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #49ab00, #ffffff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #49ab00, #ffffff);
    /* Standard syntax (must be last) */
}

.catagory-item .prj-style-6 > img {
    background: url('../img/sprite.png') 0 -180px;
}

.catagory-item .prj-style-6 .project-name {
    color: #ffffff;
}

.catagory-item .prj-style-6 .project-date {
    color: #49ab00;
}

.catagory-item .prj-style-6 .project-come {
    background-color: #49ab00;
}
